<ul class="nav nav-pills nav-stacked nav-menu">
  <li>{{link-to 'About' 'about'}}</li>
  <li>{{link-to 'Inspiration' 'inspiration'}}</li>
  <li>{{link-to 'Projects' 'projects.index'}}</li>
  <li>{{link-to 'Contact' 'contact'}}</li>
  <li>{{link-to 'Résume' 'resume'}}</li>
</ul>