<div class="content-container" id="projects-index">

  {{nav-responsive title="Projects"}}

  <div class="left-column">
  </div>

  <div class="right-column content-column">

    <article>
      <h1>Projects</h1>
      {{nav-inline}}

      <p>Here is a list of projects I created or contributed to. My experiences range from co-founding a {{link-to 'massive multiplayer game' 'project' 2}}, designing a {{link-to 'physical product' 'project' 24}} and working in a {{link-to 'startup' 'project' 1}} in San Francisco.</p>

      <h2>Main projects</h2>
      <div class="raw clearfix">
        {{#each project in mainProjects}}
          <div class="col-xs-12 col-sm-6 col-md-4 col-s-6">
            {{project-item project=project}}
          </div>
        {{/each}}
      </div>

      <h2>Side projects</h2>
      <div class="raw clearfix">
        {{#each project in sideProjects}}
          <div class="col-xs-12 col-sm-6 col-md-4 col-s-6">
            {{project-item project=project}}
          </div>
        {{/each}}
      </div>

      <h2>Class projects</h2>
      <div class="raw clearfix">
        {{#each project in classProjects}}
          <div class="col-xs-12 col-sm-6 col-md-4 col-s-6">
            {{project-item project=project}}
          </div>
        {{/each}}
      </div>
    </article>

  </div>
</div>