<div id="projects-index">

  {{#hero-image title="Projects" image="assets/images/projects-image.jpg"}}
  {{/hero-image}}

  <section class="main-section">
    <div class="container">

      <article>
        <div class="lead">Here is a list of projects I created or contributed to. My experiences range from co-founding a {{link-to 'massive multiplayer game' 'project' 'city-domination'}}, to designing a {{link-to 'physical product' 'project' 'smart-bricks'}}; but also working in a {{link-to 'startup' 'project' 'sixdoors'}} in San Francisco, bringing the User-Centered Design process to {{link-to 'BitTitan' 'project' 'bittitan-ux'}}, or creating a {{link-to 'fitness app' 'project' 'dino-fit'}}.</div>
      </article>

    </div>
  </section>

</div>