<div class="content-container" id="projects-index">

  <div class="centered-column">

    <div class="side-column">
      {{nav-menu}}
    </div>

    <h1>Projects</h1>

    <p>Here is a non exhaustive list of projects I created and contributed to. I've cofounded a massive multiplayed game, designed a physical product and worked in a startup.</p>

    <h2>Main projects</h2>
    <div class="raw clearfix">
      {{#each project in mainProjects}}
        <div class="col-xs-6">
          {{project-item project=project}}
        </div>
      {{/each}}
    </div>

    <h2>Side projects</h2>
    <div class="raw clearfix">
      {{#each project in sideProjects}}
        <div class="col-xs-6">
          {{project-item project=project}}
        </div>
      {{/each}}
    </div>

    <h2>Class projects</h2>
    <div class="raw clearfix">
      {{#each project in classProjects}}
        <div class="col-xs-6">
          {{project-item project=project}}
        </div>
      {{/each}}
    </div>

    {{nav-inline}}

  </div>
</div>