<div id="index">
  <div class="splash">
    <img class="name" src="/assets/images/name.svg"/>
    <img class="background" src="/assets/images/splash.jpg"/>
  </div>

  <div class="intro">
    <div class="container">
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
          <p>I am a Designer and an Engineer living in the Bay Area. I work at Cogniac on a mission to bring computer vision to the world.</p>
          <ul class="navigation-links">
            <li><a target="_blank" href="mailto:jordan.vincent.x@gmail.com">Contact</a></li>
            <li><a target="_blank" href="/assets/documents/jordan-vincent.pdf">Resume</a></li>
            <li><a target="_blank" href="https://medium.com/@jordanvincent">Blog</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="values">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 section-title">Values</div>
        <div class="col-sm-3">
          <h3>Mission Driven</h3>
          <div>I want my life to have an impact. Everything I do helps me move forward.</div>
        </div>
        <div class="col-sm-3">
          <h3>Hyper-focussed</h3>
          <div>I invest 100% of my energy on one-and-only-one thing at a time.</div>
        </div>
        <div class="col-sm-3">
          <h3>Learning by doing</h3>
          <div>I will do things I have never done before if I can learn in the process.</div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-project cogniac">
    <div class="container">

      <div class="row">
        <div class="col-sm-3 section-title">Selected Work</div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <div class="project-meta">2017<span class="bullet"></span>Sr. UX Engineer at Cogniac</div>
          <h2>Designing intuitive Computer Vision interfaces</h2>
          <p>I am responsible for the design and development of all Cogniac's interfaces: the web and iOS apps, and the marketing website.</p>
          <p>My work consists in creating solutions to help data scientists build better computer vision models. I use data visualization, metaphors, and active feedback as a way to make computer vision more accessible.</p>
          <a class="read-more-link" target="_blank" href="https://medium.com/@jordanvincent/designing-a-mental-model-for-computer-vision-applications-2f310527ad87">Read More</a>
        </div>

        <div class="col-sm-9">
          <div class="dashboard">
            <img src="/assets/images/cogniac-dashboard.png">
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="main-project adminca">
    <div class="container">
      <div class="row">
        <div class="col-sm-offset-9 col-sm-3 column">
          <div class="project-meta">2016<span class="bullet"></span>Co-founder of Adminca</div>
          <h2>Creating an admin panel people love to use</h2>
          <p>I co-founded Adminca to make it easier to manage backend data. I designed, built and launched an application that allows users to quickly create intuitive and powerful admin panels.</p>
          <p>Panels can be setup and customized within seconds without writing any code. Over 500 sign-ups from startups and agencies within the first two months. 200 mobile agencies are using Adminca every week to manage data with their teams.</p>
          {{link-to 'Read More' 'project' 'adminca' class="read-more-link"}}
        </div>
      </div>
    </div>
  </div>

  <div class="main-project bittitan">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 column">
          <div class="project-meta">2015<span class="bullet"></span>UX Designer at BitTitan</div>
          <h2>Advocating for Design in building better products</h2>
          <p>As one of the first designers, I redesigned a calling software for Sales agents. I used the User-Centered Desing process to teach by example how to create products people love to use.</p>
          <p>I conducted an extensive user research study, led design workshops, and created personas. Management was impressed by the results and decided to hire two more designers.</p>
          {{link-to 'Read More' 'project' 'bittitan-ux' class="read-more-link"}}
        </div>
        <div class="col-sm-offset-6 col-sm-3 process">
          <img src="/assets/images/bittitan-process.png">
        </div>
      </div>
    </div>
  </div>

  <div class="other-projects">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 section-title">Other Projects</div>
      </div>
      {{#each projects as |project|}}
        {{#link-to "project" project.slug class="row project"}}
          <div class="col-sm-3">
            <h3>{{project.name}}</h3>
            <div class="project-meta">{{{project.date}}}<span class="bullet"></span>{{project.position}}</div>
          </div>
          <div class="col-sm-6">{{project.summary}} <a href="" class="read-more-project">Read More</a></div>
        {{/link-to}}
      {{/each}}
    </div>
  </div>

  <div class="adventures">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 section-title">Adventures</div>
      </div>
      <div class="row">
        <div class="col-sm-6 section-description">I trade my computer for my backpack whenever I can! I like to explore remote places and climb high peaks. Follow my adventures on <a target="_blank" href="https://www.instagram.com/jordan.vinc">Instagram</a>.</div>
      </div>
      <div class="row">
        {{#each photos as |photo|}}
          <div class="col-md-3 col-sm-4 col-xs-6">
            <a target="_blank" href="https://www.instagram.com/jordan.vinc">
              <img class="instagram-photo" src="/assets/images/instagram/{{photo.src}}" title={{photo.title}}>
            </a>
          </div>
        {{/each}}
      </div>
    </div>
  </div>

  <footer>
    <a class="footer-link" target="_blank" href="mailto:jordan.vincent.x@gmail.com">Email</a>
    <a class="footer-link" target="_blank" href="/assets/documents/jordan-vincent.pdf">Resume</a>
    <a class="footer-link" target="_blank" href="https://medium.com/@jordanvincent">Medium</a>
    <a class="footer-link" target="_blank" href="https://www.instagram.com/jordan.vinc">Instagram</a>
    <a class="footer-link" target="_blank" href="https://github.com/JordanVincent">GitHub</a>
    <a class="footer-link" target="_blank" href="https://dribbble.com/JordanVincent">Dribbble</a>
    <a class="footer-link" target="_blank" href="https://www.linkedin.com/in/jordanvinc">LinkedIn</a>
  </footer>
</div>
