<div id="index">
  <div class="splash">
    <img class="name" src="/assets/images/name.svg" alt="Hi! I'm Jordan Vincent"/>
  </div>

  <div class="intro">
    <div class="container">
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
          <p>I am a Designer/Engineer living in San Francisco. I currently work for Airtable.</p>
          <ul class="navigation-links">
            <li><a target="_blank" href="mailto:jordan.vincent.x@gmail.com">Contact</a></li>
            <li><a target="_blank" href="/assets/documents/jordan-vincent.pdf">Resume</a></li>
            <li><a target="_blank" href="https://medium.com/@jordanvincent">Blog</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="values">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 section-title">Principles</div>
        <div class="col-sm-3">
          <h3>Mission Driven</h3>
          <div>I want to work with like-minded people toward a common goal.</div>
        </div>
        <div class="col-sm-3">
          <h3>Hyper-focused</h3>
          <div>I invest 100% of my energy on one-and-only-one thing at a time.</div>
        </div>
        <div class="col-sm-3">
          <h3>Doing the hard things</h3>
          <div>Because it is where greatness is found.</div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="container">
      <div class="row">
        <div class="col-sm-3 section-title">Selected Work</div>
      </div>
    </div>
  </div>

  {{#link-to 'project' 'annotation-manager' class="main-project annotation-manager"}}
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <div class="dashboard">
            <img src="/assets/images/annotation-manager.png" alt="Annotation Manager annotation interface"/>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="project-meta">2018&ndash;19<span class="bullet"></span>Lead Designer at Roam</div>
          <h2>Building a Machine Learning Platform for Healthcare</h2>
          <p>As Roam Analytics's Lead Designer, I have been helping the company develop the world's first natural language processing platform for healthcare.</p>
          <p>This year-long experience taught me a lot about designing and building sustainable platforms.</p>
          <a class="read-more-link" href="">Read More</a>
          <div class="clearfix"></div>
        </div>

      </div>
    </div>
  {{/link-to}}

  {{#link-to 'nps-nights' class="main-project nps-nights"}}
    <div class="container">
      <img class="iib-badge" src="/assets/images/iib-badge.jpg" alt="2018's Kantar Information is Beautiful Awards bronze medal badge"/>
      <div class="row">
        <div class="col-sm-3 column">
          <div class="project-meta">Aug. 2018<span class="bullet"></span>Personal Project</div>
          <h2>A Night Under The Stars</h2>
          <p>10 years ago, I set foot on the American continent. During a month-long vacation across the US, I fell in love with the US National Parks. The National Park Service makes these wonders of the nature accessible to millions of visitors while preserving them.</p>
          <p>In this visualization, I explore overnight stays at all US national parks and uncover surprising patterns.</p>
          <p>It won bronze at Kantar's 2018 Information is Beautiful Awards!</p>
          <a class="read-more-link" href="">Read More</a>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  {{/link-to}}

  {{#link-to 'project' 'goggles' class="main-project goggles"}}
    <div class="container">
      <div class="row">
        <div class="col-sm-offset-9 col-sm-3 column">
          <div class="project-meta">Jan. 2018<span class="bullet"></span>Sr. UX Engineer at Roam</div>
          <h2>Rethinking Graph Layouts</h2>
          <p>Roam Analytics's Health Knowldge Graph organizes health data in a graph database spanning hundreds of millions nodes. It has become a challenge for anyone using the graph to understand relationships, maintain, and add new data.</p>
          <p>I designed and implemented a tool to allow the internal team to make sense of the graph schema. After many unsuccessful attempts, I created a novel way to interact and navigate dense networks.</p>
          <a class="read-more-link" href="">Read More</a>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  {{/link-to}}

  {{#link-to 'project' 'cogniac' class="main-project cogniac"}}
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="project-meta">2017<span class="bullet"></span>Sr. UX Engineer at Cogniac</div>
          <h2>Designing intuitive Computer Vision interfaces</h2>
          <p>I was responsible for the design and development of all Cogniac's interfaces: the web and iOS apps, and the marketing website.</p>
          <p>My work consisted in creating solutions to help data scientists build better computer vision models. I used data visualization, metaphors, and active feedback as a way to make computer vision more accessible.</p>
          <a class="read-more-link" href="">Read More</a>
          <div class="clearfix"></div>
        </div>

        <div class="col-sm-9">
          <div class="dashboard">
            <img src="/assets/images/cogniac-dashboard.png" alt="Cogniac dashboard">
          </div>
        </div>

      </div>
    </div>
  {{/link-to}}

  {{#link-to 'project' 'adminca' class="main-project adminca"}}
    <div class="container">
      <div class="row">
        <div class="col-sm-offset-9 col-sm-3 column">
          <div class="project-meta">2016<span class="bullet"></span>Co-founder of Adminca</div>
          <h2>Creating an admin panel people love to use</h2>
          <p>I co-founded Adminca to make it easier to manage backend data. I designed, built and launched an application that allows users to quickly create intuitive and powerful admin panels.</p>
          <p>Panels can be setup and customized within seconds without writing any code. Over 500 sign-ups from startups and agencies within the first two months. 200 mobile agencies are using Adminca every week to manage data with their teams.</p>
          <a class="read-more-link" href="">Read More</a>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  {{/link-to}}

  <div class="other-projects">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 section-title">Other Projects</div>
      </div>

      <div class="row">
        {{#each spotlightProjects as |project|}}
          {{#link-to "project" project.slug class=(concat project.slug " col-sm-6 spotlight-project")}}
            <div class="inner">
              <div class="spotlight-project-info">
                <h3>{{project.name}}</h3>
                <div class="project-meta">{{{project.date}}}<span class="bullet"></span>{{project.position}}</div>
                <div>{{project.summary}}</div>
              </div>
            </div>
          {{/link-to}}
        {{/each}}
      </div>

      {{#each otherProjects as |project|}}
        {{#if project.route}}
          {{#link-to project.route class="row other-project"}}
            <div class="col-sm-3">
              <h3>{{project.name}}</h3>
              <div class="project-meta">{{{project.date}}}<span class="bullet"></span>{{project.position}}</div>
            </div>
            <div class="col-sm-6">{{project.summary}} <a href="" class="read-more-project">Read More</a></div>
          {{/link-to}}
        {{else}}
          {{#link-to "project" project.slug class="row other-project"}}
            <div class="col-sm-3">
              <h3>{{project.name}}</h3>
              <div class="project-meta">{{{project.date}}}<span class="bullet"></span>{{project.position}}</div>
            </div>
            <div class="col-sm-6">{{project.summary}} <a href="" class="read-more-project">Read More</a></div>
          {{/link-to}}
        {{/if}}
      {{/each}}
    </div>
  </div>

  {{newsletter-form}}

  <div class="adventures">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 section-title">Adventures</div>
      </div>
      <div class="row">
        <div class="col-sm-6 section-description">I trade my computer for my backpack whenever I can! I like to explore remote places and climb high peaks. Follow my adventures on <a target="_blank" href="https://www.instagram.com/jordan.vinc">Instagram</a>.</div>
      </div>
      <div class="row">
        {{#each photos as |photo|}}
          <div class="col-md-3 col-sm-4 col-xs-6">
            <a target="_blank" href="https://www.instagram.com/jordan.vinc">
              <img class="instagram-photo" src={{photo.src}} title={{photo.title}}>
            </a>
          </div>
        {{/each}}
      </div>
    </div>
  </div>

  {{footer-links}}
</div>
