<div id="project">
  <div class="project__cover {{if isCoverDark 'dark'}}" style="background-color:{{coverColor}};">
    <div class="project__container">

      <h1>{{model.name}} {{link-to 'Back' 'index' class="back-link"}}</h1>
      <div class="subtitle">{{model.subtitle}}</div>

      <div class="row">
        <div class="col-sm-8">
          <h2 class={{unless model.about 'hidden'}}>About</h2>
          <div class="about-copy">{{{model.about}}}</div>
        </div>
        <div class="col-sm-4">
          <h2 class={{unless model.role 'hidden'}}>My Role</h2>
          <div class="role-copy">{{model.role}}</div>
        </div>
      </div>

    </div>
  </div>

  <section class="main-section">
    <article class="project__container">
      {{component (concat 'project-articles/' model.slug) class="project-article"}}
    </article>
  </section>

  <div class="project__bottom-links">
    {{link-to 'Back' 'index'}}<!--
 -->{{#if model.next}}{{link-to 'Next Project' 'project' model.next}}{{/if}}
  </div>

  {{footer-links}}
</div>
