<div id="project">

  {{#hero-image image=coverImage}}
    <img class="hero-project-image" src={{model.logo}} style={{model.backgroundColorStyle}}/>
    <h1 class="hero-project-title" >{{model.name}}</h1>
  {{/hero-image}}

  <section class="main-section">
    <div class="container">
      <article>

        <div class="lead">
          {{{model.intro}}}
        </div>

        <!-- <div class="side-column">
          <h4 class="label-item">Date</h4>
          <p>{{model.date}}</p>
          {{#if model.position}}
            <h4 class="label-item">Position</h4>
            <p>{{model.position}}</p>
          {{/if}}
        </div> -->

        <div class="text">
          {{{model.description}}}
        </div>
      </article>
    </div>
  </section>

</div>