<div class="content-container" id="project">

  <div class="left-column">
  </div>

  <div class="right-column">

    <article>
      <h1>{{name}}</h1>
      {{nav-inline}}
      <div class="date">{{date}}</div>

      {{{description}}}

      {{#if relatedProjects}}
        <div class="related-projects">
          <h2>Related projects</h2>
          <div class="raw clearfix">
            {{#each project in relatedProjects}}
              <div class="col-xs-6">
                {{project-item project=project}}
              </div>
            {{/each}}
          </div>
        </div>
      {{/if}}

    </article>

  </div>
</div>