<div id="project">

  <div class="project-cover" style={{model.backgroundColorStyle}} >

    <div class="top-nav hidden-xs">
      <div class="container">
        {{nav-inline}}
      </div>
    </div>

    <img class="project-logo" src={{model.logo}} />
    <h1 style={{titleColorStyle}}>{{model.name}}</h1>

    {{ragged-edge}}
  </div>

  <section class="main-section">
    <article class="container">
      {{component articleComponent}}
    </article>
  </section>

</div>