<div class="content-container" id="project">

  {{nav-responsive title=name}}

  <div class="left-column">
  </div>
  {{project-cover project=this}}

  <div class="right-column content-column">

    <article>
      <h1>{{name}}</h1>
      {{nav-inline}}

      <div class="side-column">
        <h4 class="label-item">Date</h4>
        <p>{{date}}</p>
        {{#if position}}
          <h4 class="label-item">Position</h4>
          <p>{{position}}</p>
        {{/if}}
      </div>

      {{{description}}}
    </article>

    <div class="related-projects">
      {{#if relatedProjects}}
        <h2>Related projects <span class="separator">&bull;</span> {{link-to 'All projects' 'projects.index'}}</h2>
        <div class="raw clearfix">
          {{#each project in relatedProjects}}
            <div class="col-xs-12 col-sm-6 col-md-4 col-s-6">
              {{project-item project=project}}
            </div>
          {{/each}}
        </div>
      {{else}}
        <h2>{{link-to 'All projects' 'projects.index'}}</h2>
      {{/if}}
    </div>
  </div>
</div>