<div class="content-container" id="project">

  <div class="centered-column">

    <div class="side-column">
      {{project-logo project=this}}
      {{nav-menu}}
    </div>

    <article>
      {{link-to 'Projects' 'projects.index' class="projects-link"}}
      <h1>{{name}}</h1>
      <div class="date">{{date}}</div>

      {{{description}}}

      {{#if relatedProjects}}
        <div class="related-projects">
          <h2>Related projects</h2>
          <div class="raw clearfix">
            {{#each project in relatedProjects}}
              <div class="col-xs-6">
                {{project-item project=project}}
              </div>
            {{/each}}
          </div>
        </div>
      {{/if}}

    </article>

    {{nav-inline}}

  </div>
</div>