<div id="project">

  {{#hero-image title=model.name image=model.coverImage}}
  {{/hero-image}}

  <section class="main-section">
    <div class="container">

      <article>
        <h1>{{model.name}}</h1>
        {{nav-inline}}

        <div class="side-column">
          <h4 class="label-item">Date</h4>
          <p>{{model.date}}</p>
          {{#if model.position}}
            <h4 class="label-item">Position</h4>
            <p>{{model.position}}</p>
          {{/if}}
        </div>

        {{{model.description}}}
      </article>

    </div>
  </section>

</div>