<div class="container" id="project">

  <div class="content-column">

    <article>
      <h1>{{model.name}}</h1>
      {{nav-inline}}

      <div class="side-column">
        <h4 class="label-item">Date</h4>
        <p>{{model.date}}</p>
        {{#if model.position}}
          <h4 class="label-item">Position</h4>
          <p>{{model.position}}</p>
        {{/if}}
      </div>

      {{{model.description}}}
    </article>

  </div>
</div>