<div id="us-flights">
  <section class="header">
    <h1 class="header-title">A flight against time</h1>
    <div class="header-subtitle">By {{link-to 'Jordan Vincent' 'index'}}<span class="bullet"></span>August 2019</div>
  </section>

  <div class="text">
    <p>Flying is the most convenient way to travel long distances that would otherwise take hours and days. When flying, we don’t perceive distances as much as time spent.</p>
    <p>While travelling, local arrival time is usually more important than time at home. Let's imagine we fly from Los Angeles to New York City. Our plane takes off at 4pm PST and lands at midnight EST. Upon arrival, you usually go to bed, despite being 9pm at home, in Los Angeles. It appears like it took 8 hours, when in reality you only spent 5 hours on the plane. On the flight back however, if you leave New York City at noon, you arrive in Los Angeles at 3:30pm PST. It appears like a 3h30min flight!</p>
    <p>What does the United States look like from major airports? Let's have a look!</p>

    <h2 class="section-title">East vs West</h2>
    <p>The Atlantic and Pacific coasts are ones of the most populated regions in the United States. There are hundreds of flights per day crossing the four time zones of the contiguous United States.</p>
  </div>

  <div class="subsection-header">
    <img src="/assets/images/us-flights/los-angeles-new-york.svg" alt=""/>
    <h3 class="subsection-title">Los Angeles / New York</h3>
    <p class="subsection-text">The New York/Los Angeles route is one of the busiest in the country, with more than 600 flights per week.</p>
  </div>

  <div class="centered-chart margin-bottom-large">
    {{us-flights/charts/los-angeles}}
    <div class="chart-markings">{{us-flights/markings/los-angeles}}</div>
  </div>

  <div class="centered-chart">
    {{us-flights/charts/new-york}}
    <div class="chart-markings">{{us-flights/markings/new-york}}</div>
  </div>

  <div class="subsection-header">
    <img src="/assets/images/us-flights/seattle-miami.svg" alt=""/>
    <h3 class="subsection-title">Seattle / Miami</h3>
    <p class="subsection-text">The Seattle/Miami route not as frequented, with a mere 40 flights per week. Nonetheless, both cities are well connected to their respective coast.</p>
  </div>

  <div class="centered-chart margin-bottom-large">
    {{us-flights/charts/seattle}}
    <div class="chart-markings">{{us-flights/markings/seattle}}</div>
  </div>

  <div class="centered-chart">
    {{us-flights/charts/miami}}
    <div class="chart-markings">{{us-flights/markings/miami}}</div>
  </div>



  <div class="text margin-bottom-large">
    <h2 class="section-title">At the Edge of Time</h2>
    <p>The United States spans six time zones. When New Yorkers stop for lunch, tourists are still asleep in Hawaii.</p>
    <p>Things get weird when flying across time zones. When flying West, it feels like time is slowing down. And when flying East, it feels like time is speeding up.</p>
    <p>At the edge between two time zones, it’s possible to arrive at destination at an earlier (local time) than you took off. Take Detroit and Chicago for example.</p>
  </div>
  <div class="subsection-header">
    <h3 class="subsection-title">Chicago / Detroit</h3>
    <p class="subsection-text">Detroit is located in the Eastern time zone while Chicago is located in the Central time zone.</p>
  </div>
  <div class="text">
    <div class="image-container bottom-shadow">
      <img src="/assets/images/us-flights/chicago-detroit.svg" alt="Chicago/Detroit area map"/>
    </div>

    <p>The otherwise 1h30min flight appears like a 2h30min trip from Chicago. But from Detroit, it appears like a 30min flight.</p>
  </div>

  <div class="chart-row">
    <div class="circular-chart">
      <div class="chart-inner">{{us-flights/charts/chicago}}</div>
      <div class="chart-markings">{{us-flights/markings/chicago}}</div>
    </div>
    <div class="circular-chart">
      <div class="chart-inner">{{us-flights/charts/detroit}}</div>
      <div class="chart-markings">{{us-flights/markings/detroit}}</div>
    </div>
  </div>

  <div class="text">
    <div class="subsection-header">
      <h3 class="subsection-title">New Orleans / Atlanta</h3>
      <p class="subsection-text">Atlanta is located in the Eastern time zone while New Orleans is located in the Central time zone.</p>
    </div>
  </div>

  <div class="text">
    <div class="image-container top-shadow">
      <img src="/assets/images/us-flights/new-orleans-atlanta.svg" alt="New Orleans/Atlanta area map"/>
    </div>

    <p>The otherwise 1h30min flight appears like a 2h30min trip from New Orleans. But from Atlanta, it appears like a 30min flight.</p>
  </div>

  <div class="chart-row">
    <div class="circular-chart">
      <div class="chart-inner">{{us-flights/charts/new-orleans}}</div>
      <div class="chart-markings">{{us-flights/markings/new-orleans}}</div>
    </div>
    <div class="circular-chart">
      <div class="chart-inner">{{us-flights/charts/atlanta}}</div>
      <div class="chart-markings">{{us-flights/markings/atlanta}}</div>
    </div>
  </div>

  <div class="text margin-bottom-large">
    <h2 class="section-title">Going Against Time</h2>
    <p>Most states follow the daylight saving time. But the effect on relative flight time is null because local time changes at the same moment everwhere.</p>
    <p>There is one exception. Some states such as Arizona, Hawaii, American Samoa, Puerto Rico, and the Virgin Islands don’t observe daylight saving time. In Summer, when daylight saving takes effect, the rest of the US looks different when flying from these states. Take Phoenix, Arizona.</p>
    <img class="margin-top-medium margin-bottom-medium" src="/assets/images/us-flights/phoenix.svg" alt="Phoenix time zone"/>
    <p>Phoenix is located at the border between Mountain and Pacific times. Arizona stays in Mountain Standard Time (UTC-06:00) year-round, but all other states around it change time in Summer.</p>
    <p>In Summer, Denver and Salt Lake City, which used to be in Phoenix's time zone, are now 1 hour ahead. And Phoenix's time is now the same as other cities on the Pacific coast. So flying to California doesn't save time anymore, and flying to Colorado or Utah costs 1 more hour. As a result, in Summer, all states that observe daylight saving time are 1 hour further away!</p>
  </div>

  <div class="chart-row">
    <div class="circular-chart">
      <div class="chart-inner">{{us-flights/charts/phoenix}}</div>
      <div class="chart-markings">{{us-flights/markings/phoenix}}</div>
    </div>
    <div class="circular-chart">
      <div class="chart-inner">{{us-flights/charts/phoenix-summer}}</div>
      <div class="chart-markings">{{us-flights/markings/phoenix-summer}}</div>
    </div>
  </div>

  <div class="text margin-bottom-large">
    <h2 class="section-title">At the Edge of the World</h2>
    <p>Some US states and territories are so far away that they are inaccessible from most US cities.</p>
  </div>

  <div class="subsection-header">
    <h3 class="subsection-title">San Juan</h3>
    <p class="subsection-text">From Puerto Rico, you can only access the East Coast.</p>
  </div>
  <div class="floating-chart" style="height: 400px;">
    <div class="floating-chart-inner" style="right: 90px;">
      {{us-flights/charts/san-juan}}
      <div class="chart-markings">{{us-flights/markings/san-juan}}</div>
    </div>
  </div>

  <div class="subsection-header">
    <h3 class="subsection-title">Anchorage</h3>
    <p class="subsection-text">From Alaska, you can only access the West Coast.</p>
  </div>
  <div class="floating-chart" style="height: 600px;">
    <div class="floating-chart-inner" style="left: 50px;">
      {{us-flights/charts/anchorage}}
      <div class="chart-markings">{{us-flights/markings/anchorage}}</div>
    </div>
  </div>

  <div class="subsection-header">
    <h3 class="subsection-title">Honolulu</h3>
    <p class="subsection-text">Hawaii might be further away than Alaska, yet most US airports have regular flights to this paradise.</p>
  </div>
  <div class="floating-chart" style="height: 700px;">
    <div class="floating-chart-inner" style="left: 100px;">
      {{us-flights/charts/honolulu}}
      <div class="chart-markings">{{us-flights/markings/honolulu}}</div>
    </div>
  </div>

  <footer class="text footer">
    <p>This series of charts was created using flight data from the United States <a href="https://www.transtats.bts.gov/Tables.asp?DB_ID=120&DB_Name=Airline%20On-Time%20Performance%20Data&DB_Short_Name=On-Time" target="_blank">Bureau of Transportation Statistics</a>. All charts, with the exception of Phoenix’s Summer chart, use data from the January 14-20, 2019 period. Phoenix’s Summer chart uses data from the April 15-21, 2019 period.</p>
    <p>The US boundaries are computed using the time it would take a plane to fly to that GPS coordinate if it flew at the same speed as planes landing at the closest airport.</p>
    <p>Thanks to Jennifer Hwang for providing invaluable feedback and support.</p>
  </footer>
</div>
